.content-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.movies-list{
    list-style: none;
}
.card{
    margin-top: 2em !important;
    margin-bottom: 2em !important;
}
/* ================================== \
    The first movie class pro
\  ==================================*/

.fisrt-movie:hover{
    background: rgb(227,23,23);
    color: ;
}
/* ================================== \
    btn & showMovie variable
\  ==================================*/
.red-class{
    color: red !important;
    font-size: 1.5 em;
    font-weight: bold;
}
.green-class{
    color: green !important;
    font-size: 1.5 em;
    font-weight: bold;
}
